@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --github-svg-color: #333;
  --footer-dark-background: "rgba(05, 16, 23, 0.9)";
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navbarHeight: 4rem;
  --sectionHeight: calc(100dvh - var(--navbarHeight));

  --clr-primary: #1b64f1;
  --clr-primary-light: #1b64f1;
  --clr-primary-dark: #1b64f1;
}

/*
=============== 
Loading Spinner
===============
*/

.loadingRing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid var(--clr-primary);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  letter-spacing: 1.8px;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-shadow: 0 0 2px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: var(--clr-primary);
}

.loadingRing:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid var(--clr-primary-light);
  border-right: 3px solid var(--clr-primary-light);
  animation: animateCircle 2s linear infinite;
}

.loadingDot {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loadingDot:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--clr-primary);
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px var(--clr-primary);
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* 
$ ========================================== Dark Mode Styles as per user preference ==========================================
*/

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

input:focus {
  border-color: transparent;
}

@layer base {
  /* $ ========================================== Home Page Styles ========================================== */

  .socialIconStyles {
    @apply text-[1.7rem] flex content-center items-center absolute p-1 rounded w-[2.5rem] h-[2.5rem] opacity-0 outline-[2.5px] outline-primaryColor;
    @apply sm:before:absolute sm:before:content-[""] sm:before:w-full sm:before:h-full sm:before:rounded sm:before:z-[-1] p-1 filter blur-[1.5px];
  }

  .facebookColor {
    @apply bg-[#3b5998];
    @apply sm:before:bg-[#3b5998];
  }

  .gitHubColor {
    @apply bg-[#333];
    @apply sm:before:bg-[#333];
  }

  .twitterColor {
    @apply bg-[#1DA1F2];
    @apply sm:before:bg-[#1DA1F2];
  }

  .linkedInColor {
    @apply bg-[#0077B5];
    @apply sm:before:bg-[#0077B5];
  }

  .pageLinkIcons {
    @apply relative flex justify-center items-center w-[1.8rem] h-[1.8rem] md:w-[2.1rem] md:h-[2.1rem] rounded-[50%];
    @apply sm:before:absolute sm:before:content-[''] sm:before:inset-0 sm:before:w-full sm:before:h-full sm:before:rounded-full sm:before:z-[-1];
  }

  .iconSize {
    @apply text-[0.8rem] md:text-[1rem] lg:text-[1.05rem];
  }

  /* $ ========================================== Scroll Progress Animation on Navbar ========================================== */

  .scroll-watcher {
    height: 2px;
    z-index: 1000;
    position: fixed;
    background-color: blue;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear infinite;
    animation-timeline: scroll(y);
  }

  @keyframes scroll-watcher {
    0% {
      scale: 0 1;
    }
    100% {
      scale: 1 1;
    }
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .pageHeadingLines {
    @apply sm:before:absolute sm:before:content-[''] sm:before:top-[50%] sm:before:left-[0] sm:sm:before:w-[70%] sm:before:h-[2px] sm:before:z-[-1] sm:before:bg-blue-500;
    @apply sm:after:absolute sm:after:content-[''] sm:after:top-[50%] sm:after:right-[0] sm:after:w-[70%] sm:after:h-[2px] sm:after:z-[-1] sm:after:bg-blue-500;
  }
}

@layer utilities {
  .clip-path-home {
    clip-path: polygon(0 70%, 100% 30%, 100% 100%, 0% 100%);
    background-color: #eff2f5;
    background-size: cover;
    position: absolute;
  }

  .clip-path-about {
    clip-path: polygon(0 0, 100% 74%, 100% 100%, 0 150%);
    background-color: #eff2f5;
    background-size: cover;
  }

  .clip-path-projects {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 74%);
  }

  .clip-path-contact {
    clip-path: polygon(100% 0%, 100% 50%, 50% 100%, 0% 100%, 0% 50%);
    background-color: #eff2f5;
    background-size: cover;
  }

  /* Clipped Part Patterns  */
  .bg-pattern-contact {
    background-image: radial-gradient(#1b64f1 2.5px, transparent 2.5px),
      radial-gradient(#1b64f1 2.5px, transparent 2.5px);
    background-size: 35px 35px;
    background-position:
      0 0,
      17.5px 17.5px;
    background-color: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
