@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navbarHeight: 4rem;
  --sectionHeight: calc(100dvh - var(--navbarHeight));
}

/* 
$ ========================================== Dark Mode Styles as per user preference ==========================================
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 
*/

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@layer base {
  /* $ ========================================== Home Page Styles ========================================== */

  .socialIconStyles {
    @apply text-[1.7rem] flex content-center items-center absolute p-1 rounded w-[2.5rem] h-[2.5rem] opacity-0 outline-[2.5px] outline-primaryColor;
    @apply sm:before:absolute sm:before:content-[''] sm:before:w-full sm:before:h-full sm:before:rounded sm:before:z-[-1] p-1 filter blur-[1.5px];
  }

  .facebookColor {
    @apply bg-[#3b5998];
    @apply sm:before:bg-[#3b5998];
  }

  .gitHubColor {
    @apply bg-[#333];
    @apply sm:before:bg-[#333];
  }

  .twitterColor {
    @apply bg-[#1DA1F2];
    @apply sm:before:bg-[#1DA1F2];
  }

  .linkedInColor {
    @apply bg-[#0077B5];
    @apply sm:before:bg-[#0077B5];
  }

  .pageLinkIcons {
    @apply relative flex justify-center items-center w-[1.8rem] h-[1.8rem] md:w-[2.1rem] md:h-[2.1rem] rounded-[50%];
    @apply sm:before:absolute sm:before:content-[''] sm:before:inset-0 sm:before:w-full sm:before:h-full sm:before:rounded-full sm:before:z-[-1];
  }

  /* .pageLinkIcons:has(.isActive) {
    @apply border-[2px] border-yellow-400 sm:before:bg-primaryColor dark:text-white;
  } */

  .iconSize {
    @apply text-[0.8rem] md:text-[1rem] lg:text-[1.05rem];
  }
}

@layer components {
  .pageHeadingLines {
    @apply sm:before:absolute sm:before:content-[''] sm:before:top-[50%] sm:before:left-[0] sm:sm:before:w-[70%] sm:before:h-[2px] sm:before:z-[-1] sm:before:bg-blue-500;
    @apply sm:after:absolute sm:after:content-[''] sm:after:top-[50%] sm:after:right-[0] sm:after:w-[70%] sm:after:h-[2px] sm:after:z-[-1] sm:after:bg-blue-500;
  }
}

@layer utilities {
  .clip-path-home {
    clip-path: polygon(0 70%, 100% 30%, 100% 100%, 0% 100%);
    background-color: #eff2f5;
    background-size: cover;
    position: absolute;
  }

  .clip-path-about {
    clip-path: polygon(0 0, 100% 74%, 100% 100%, 0 150%);
    background-color: #eff2f5;
    background-size: cover;
  }

  .clip-path-projects {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 74%);
  }

  .clip-path-contact {
    clip-path: polygon(100% 0%, 100% 50%, 50% 100%, 0% 100%, 0% 50%);
    background-color: #eff2f5;
    background-size: cover;
  }

  /* Clipped Part Patterns  */
  .bg-pattern-contact {
    background-image: radial-gradient(#1b64f1 2.5px, transparent 2.5px),
      radial-gradient(#1b64f1 2.5px, transparent 2.5px);
    background-size: 35px 35px;
    background-position: 0 0, 17.5px 17.5px;
    background-color: #ffffff;
  }
}
